/ejercicio10DWS/target/
/ejercicio14DWS/target/
/ejercicio12DWS/target/
/com.fpmislata_ejercicio12DWS/target/
/com.fpmislata_ejercicio14DWSB/target/
/ejercicio13DWS/target/
/ejercicio14DWSA/target/
/carritoObjetosJSON_Borja/nbproject/private/
/carritoObjetosJSON_Borja/build/
/carritoObjetosJSON_Borja/dist/
/ejercicio15DWS/target/
/mantenimientoClientes/mantenimientoClientes-web/target/
/EJBClientes/EJBClientes-ejb/target/
/EJBClientes/EJBClientes-web/target/
/EJBClientes/EJBClientes-ear/target/