<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletListar</servlet-name>
        <servlet-class>servlets.ServletListar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBaja</servlet-name>
        <servlet-class>servlets.ServletBaja</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletModificar</servlet-name>
        <servlet-class>servlets.ServletModificar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletListar</servlet-name>
        <url-pattern>/ServletListar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBaja</servlet-name>
        <url-pattern>/ServletBaja</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletModificar</servlet-name>
        <url-pattern>/ServletModificar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
